Analisis Makrab dengan AI Gemini.json
{
  "name": "Analisis Makrab dengan AI Gemini",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "bc63da09-a0f8-435b-925b-cf4927ae652e",
      "name": "Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        656,
        64
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1W0UHJuKQWK9hmACcumXgKCvAzMY5h5hqx0yByCGR__A",
          "mode": "list",
          "cachedResultName": "Makrab BEM FT",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W0UHJuKQWK9hmACcumXgKCvAzMY5h5hqx0yByCGR__A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1463829828,
          "mode": "list",
          "cachedResultName": "Makrab BEM FT",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W0UHJuKQWK9hmACcumXgKCvAzMY5h5hqx0yByCGR__A/edit#gid=1463829828"
        },
        "options": {}
      },
      "id": "5b4d1b2f-f8b9-4263-9d02-fc9a56d8a331",
      "name": "Baca Data Survey",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        864,
        64
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VVhRv99jVyG0XBes",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Kumpulkan data untuk AI\nlet data = {\n  kesan: [],\n  kritik: [],\n  saran: []\n};\n\nlet total = 0;\n\n$input.all().forEach(item => {\n  total++;\n  let row = item.json;\n  if (row['Kesan dan Pesan setelah mengikuti Makrab FT \\'24😍']) data.kesan.push(row['Kesan dan Pesan setelah mengikuti Makrab FT \\'24😍']);\n  if (row['Kritik untuk Makrab FT \\'24🤩']) data.kritik.push(row['Kritik untuk Makrab FT \\'24🤩']);\n  if (row['Saran untuk Makrab FT berikutnya🔥']) data.saran.push(row['Saran untuk Makrab FT berikutnya🔥']);\n});\n\nreturn [{ json: { data, total } }];"
      },
      "id": "464fe472-130c-466f-83c8-1c9e0c0a3d5b",
      "name": "Kumpulkan Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        64
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1W0UHJuKQWK9hmACcumXgKCvAzMY5h5hqx0yByCGR__A",
          "mode": "list",
          "cachedResultName": "Makrab BEM FT",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W0UHJuKQWK9hmACcumXgKCvAzMY5h5hqx0yByCGR__A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1693803698,
          "mode": "list",
          "cachedResultName": "Hasil Analisis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W0UHJuKQWK9hmACcumXgKCvAzMY5h5hqx0yByCGR__A/edit#gid=1693803698"
        },
        "columns": {
          "0": "{",
          "1": "\n",
          "2": " ",
          "3": " ",
          "4": "\"",
          "5": "T",
          "6": "i",
          "7": "m",
          "8": "e",
          "9": "s",
          "10": "t",
          "11": "a",
          "12": "m",
          "13": "p",
          "14": "\"",
          "15": ":",
          "16": " ",
          "17": "\"",
          "18": "{",
          "19": "{",
          "20": " ",
          "21": "$",
          "22": "j",
          "23": "s",
          "24": "o",
          "25": "n",
          "26": ".",
          "27": "t",
          "28": "i",
          "29": "m",
          "30": "e",
          "31": "s",
          "32": "t",
          "33": "a",
          "34": "m",
          "35": "p",
          "36": " ",
          "37": "}",
          "38": "}",
          "39": "\"",
          "40": ",",
          "41": "\n",
          "42": " ",
          "43": " ",
          "44": "\"",
          "45": "E",
          "46": "x",
          "47": "e",
          "48": "c",
          "49": "u",
          "50": "t",
          "51": "i",
          "52": "v",
          "53": "e",
          "54": " ",
          "55": "S",
          "56": "u",
          "57": "m",
          "58": "m",
          "59": "a",
          "60": "r",
          "61": "y",
          "62": "\"",
          "63": ":",
          "64": " ",
          "65": "\"",
          "66": "{",
          "67": "{",
          "68": " ",
          "69": "$",
          "70": "j",
          "71": "s",
          "72": "o",
          "73": "n",
          "74": ".",
          "75": "e",
          "76": "x",
          "77": "e",
          "78": "c",
          "79": "u",
          "80": "t",
          "81": "i",
          "82": "v",
          "83": "e",
          "84": "_",
          "85": "s",
          "86": "u",
          "87": "m",
          "88": "m",
          "89": "a",
          "90": "r",
          "91": "y",
          "92": " ",
          "93": "}",
          "94": "}",
          "95": "\"",
          "96": ",",
          "97": "\n",
          "98": " ",
          "99": " ",
          "100": "\"",
          "101": "P",
          "102": "o",
          "103": "i",
          "104": "n",
          "105": " ",
          "106": "P",
          "107": "o",
          "108": "s",
          "109": "i",
          "110": "t",
          "111": "i",
          "112": "f",
          "113": "\"",
          "114": ":",
          "115": " ",
          "116": "\"",
          "117": "{",
          "118": "{",
          "119": " ",
          "120": "$",
          "121": "j",
          "122": "s",
          "123": "o",
          "124": "n",
          "125": ".",
          "126": "p",
          "127": "o",
          "128": "i",
          "129": "n",
          "130": "_",
          "131": "p",
          "132": "o",
          "133": "s",
          "134": "i",
          "135": "t",
          "136": "i",
          "137": "f",
          "138": " ",
          "139": "}",
          "140": "}",
          "141": "\"",
          "142": ",",
          "143": "\n",
          "144": " ",
          "145": " ",
          "146": "\"",
          "147": "K",
          "148": "r",
          "149": "i",
          "150": "t",
          "151": "i",
          "152": "k",
          "153": " ",
          "154": "K",
          "155": "o",
          "156": "n",
          "157": "s",
          "158": "t",
          "159": "r",
          "160": "u",
          "161": "k",
          "162": "t",
          "163": "i",
          "164": "f",
          "165": "\"",
          "166": ":",
          "167": " ",
          "168": "\"",
          "169": "{",
          "170": "{",
          "171": " ",
          "172": "$",
          "173": "j",
          "174": "s",
          "175": "o",
          "176": "n",
          "177": ".",
          "178": "k",
          "179": "r",
          "180": "i",
          "181": "t",
          "182": "i",
          "183": "k",
          "184": "_",
          "185": "k",
          "186": "o",
          "187": "n",
          "188": "s",
          "189": "t",
          "190": "r",
          "191": "u",
          "192": "k",
          "193": "t",
          "194": "i",
          "195": "f",
          "196": " ",
          "197": "}",
          "198": "}",
          "199": "\"",
          "200": ",",
          "201": "\n",
          "202": " ",
          "203": " ",
          "204": "\"",
          "205": "S",
          "206": "a",
          "207": "r",
          "208": "a",
          "209": "n",
          "210": " ",
          "211": "P",
          "212": "r",
          "213": "i",
          "214": "o",
          "215": "r",
          "216": "i",
          "217": "t",
          "218": "a",
          "219": "s",
          "220": "\"",
          "221": ":",
          "222": " ",
          "223": "\"",
          "224": "{",
          "225": "{",
          "226": " ",
          "227": "$",
          "228": "j",
          "229": "s",
          "230": "o",
          "231": "n",
          "232": ".",
          "233": "s",
          "234": "a",
          "235": "r",
          "236": "a",
          "237": "n",
          "238": "_",
          "239": "p",
          "240": "r",
          "241": "i",
          "242": "o",
          "243": "r",
          "244": "i",
          "245": "t",
          "246": "a",
          "247": "s",
          "248": " ",
          "249": "}",
          "250": "}",
          "251": "\"",
          "252": ",",
          "253": "\n",
          "254": " ",
          "255": " ",
          "256": "\"",
          "257": "R",
          "258": "e",
          "259": "k",
          "260": "o",
          "261": "m",
          "262": "e",
          "263": "n",
          "264": "d",
          "265": "a",
          "266": "s",
          "267": "i",
          "268": " ",
          "269": "S",
          "270": "t",
          "271": "r",
          "272": "a",
          "273": "t",
          "274": "e",
          "275": "g",
          "276": "i",
          "277": "s",
          "278": "\"",
          "279": ":",
          "280": " ",
          "281": "\"",
          "282": "{",
          "283": "{",
          "284": " ",
          "285": "$",
          "286": "j",
          "287": "s",
          "288": "o",
          "289": "n",
          "290": ".",
          "291": "r",
          "292": "e",
          "293": "k",
          "294": "o",
          "295": "m",
          "296": "e",
          "297": "n",
          "298": "d",
          "299": "a",
          "300": "s",
          "301": "i",
          "302": "_",
          "303": "s",
          "304": "t",
          "305": "r",
          "306": "a",
          "307": "t",
          "308": "e",
          "309": "g",
          "310": "i",
          "311": "s",
          "312": " ",
          "313": "}",
          "314": "}",
          "315": "\"",
          "316": ",",
          "317": "\n",
          "318": " ",
          "319": " ",
          "320": "\"",
          "321": "T",
          "322": "o",
          "323": "t",
          "324": "a",
          "325": "l",
          "326": " ",
          "327": "R",
          "328": "e",
          "329": "s",
          "330": "p",
          "331": "o",
          "332": "n",
          "333": "d",
          "334": "e",
          "335": "n",
          "336": "\"",
          "337": ":",
          "338": " ",
          "339": "\"",
          "340": "{",
          "341": "{",
          "342": " ",
          "343": "$",
          "344": "j",
          "345": "s",
          "346": "o",
          "347": "n",
          "348": ".",
          "349": "t",
          "350": "o",
          "351": "t",
          "352": "a",
          "353": "l",
          "354": "_",
          "355": "r",
          "356": "e",
          "357": "s",
          "358": "p",
          "359": "o",
          "360": "n",
          "361": "d",
          "362": "e",
          "363": "n",
          "364": " ",
          "365": "}",
          "366": "}",
          "367": "\"",
          "368": ",",
          "369": "\n",
          "370": " ",
          "371": " ",
          "372": "\"",
          "373": "C",
          "374": "a",
          "375": "t",
          "376": "a",
          "377": "t",
          "378": "a",
          "379": "n",
          "380": "\"",
          "381": ":",
          "382": " ",
          "383": "\"",
          "384": "{",
          "385": "{",
          "386": " ",
          "387": "$",
          "388": "j",
          "389": "s",
          "390": "o",
          "391": "n",
          "392": ".",
          "393": "c",
          "394": "a",
          "395": "t",
          "396": "a",
          "397": "t",
          "398": "a",
          "399": "n",
          "400": " ",
          "401": "}",
          "402": "}",
          "403": "\"",
          "404": "\n",
          "405": "}",
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total_responden",
              "displayName": "total_responden",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ringkasan_eksekutif",
              "displayName": "ringkasan_eksekutif",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sentimen_utama",
              "displayName": "sentimen_utama",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tema_positif",
              "displayName": "tema_positif",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tema_kritik",
              "displayName": "tema_kritik",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tema_saran",
              "displayName": "tema_saran",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rekomendasi_jangka_pendek",
              "displayName": "rekomendasi_jangka_pendek",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7a9d0ada-85dc-4346-a09e-4ddc1d3413c1",
      "name": "Simpan ke Spreadsheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1552,
        64
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VVhRv99jVyG0XBes",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\n// VARIASI PROMPT DALAM BAHASA INDONESIA\nconst promptVariations = [\n  // VARIASI 1: Analisis Strategis\n  `Sebagai analis data profesional, buatlah laporan analisis feedback Makrab FT 2024 dalam bahasa Indonesia:\n\nDATA FEEDBACK:\nTotal Responden: ${data.total}\nKesan Peserta: ${data.data.kesan.join(' | ')}\nKritik Membangun: ${data.data.kritik.join(' | ')}  \nSaran Perbaikan: ${data.data.saran.join(' | ')}\n\nBerikan analisis komprehensif dalam format JSON:\n{\n  \"ringkasan_eksekutif\": \"ringkasan eksekutif 3-4 kalimat dalam bahasa Indonesia\",\n  \"sentimen_utama\": \"positif/negatif/campuran\",\n  \"tema_positif\": [\"pencapaian positif 1\", \"pencapaian positif 2\", \"pencapaian positif 3\"],\n  \"tema_perbaikan\": [\"area perbaikan 1\", \"area perbaikan 2\", \"area perbaikan 3\"],\n  \"rekomendasi_strategis\": [\"rekomendasi 1\", \"rekomendasi 2\", \"rekomendasi 3\"]\n}\n\nGunakan hanya bahasa Indonesia yang formal dan profesional.`,\n\n  // VARIASI 2: Analisis Experience\n  `Sebagai ahli evaluasi acara, analisis pengalaman peserta Makrab FT 2024:\n\nDATA PENGALAMAN PESERTA:\n${data.data.kesan.length} kesan, ${data.data.kritik.length} kritik, ${data.data.saran.length} saran\n\nContoh Kesan: ${data.data.kesan.slice(0, 3).join('; ')}\nContoh Kritik: ${data.data.kritik.slice(0, 3).join('; ')}\nContoh Saran: ${data.data.saran.slice(0, 3).join('; ')}\n\nBuat laporan evaluasi dalam JSON:\n{\n  \"ringkasan_evaluasi\": \"ringkasan evaluasi pengalaman peserta\",\n  \"tingkat_kepuasan\": \"tingkat kepuasan keseluruhan\",\n  \"aspek_terbaik\": [\"aspek terbaik 1\", \"aspek terbaik 2\", \"aspek terbaik 3\"],\n  \"aspek_perlu_ditingkatkan\": [\"aspek perlu peningkatan 1\", \"aspek perlu peningkatan 2\", \"aspek perlu peningkatan 3\"], \n  \"saran_perbaikan\": [\"saran perbaikan 1\", \"saran perbaikan 2\", \"saran perbaikan 3\"]\n}\n\nGunakan hanya bahasa Indonesia.`,\n\n  // VARIASI 3: Analisis Operasional\n  `Sebagai konsultan operasional, tinjau pelaksanaan acara Makrab FT 2024:\n\nDATA OPERASIONAL:\nTotal Partisipan: ${data.total}\nVolume Feedback: ${data.data.kesan.length + data.data.kritik.length + data.data.saran.length} respons\n\nBerikan analisis operasional dalam JSON:\n{\n  \"ringkasan_operasional\": \"analisis kinerja operasional acara\",\n  \"evaluasi_kinerja\": \"penilaian kinerja keseluruhan\",\n  \"keberhasilan_operasional\": [\"keberhasilan 1\", \"keberhasilan 2\", \"keberhasilan 3\"],\n  \"tantangan_operasional\": [\"tantangan 1\", \"tantangan 2\", \"tantangan 3\"],\n  \"rekomendasi_operasional\": [\"rekomendasi operasional 1\", \"rekomendasi operasional 2\", \"rekomendasi operasional 3\"]\n}\n\nGunakan hanya bahasa Indonesia.`,\n\n  // VARIASI 4: Analisis Dampak\n  `Sebagai analis dampak, ukur keberhasilan dan nilai yang diciptakan Makrab FT 2024:\n\nDATA DAMPAK:\n${data.total} peserta memberikan masukan\n\nTingkat Respons: ${((data.data.kesan.length + data.data.kritik.length + data.data.saran.length) / (data.total * 3) * 100).toFixed(1)}%\n\nBerikan analisis dampak dalam JSON:\n{\n  \"ringkasan_dampak\": \"analisis dampak dan nilai yang tercipta\",\n  \"pencapaian_utama\": \"pencapaian utama acara\", \n  \"nilai_tercipta\": [\"nilai 1\", \"nilai 2\", \"nilai 3\"],\n  \"peluang_pengembangan\": [\"peluang 1\", \"peluang 2\", \"peluang 3\"],\n  \"rekomendasi_keberlanjutan\": [\"rekomendasi 1\", \"rekomendasi 2\", \"rekomendasi 3\"]\n}\n\nGunakan hanya bahasa Indonesia.`\n];\n\n// PILIH PROMPT RANDOM\nconst randomPrompt = promptVariations[Math.floor(Math.random() * promptVariations.length)];\n\n// ⚠️ GANTI API KEY DI BAWAH INI ⚠️\nconst apiKey = 'AIzaSyAQ-WmEuOgGh2vH0IBDZRI2c9gaoGQMyhg';\nconst url = `https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent?key=${apiKey}`;\n\n// REQUEST BODY\nconst body = {\n  contents: [{ parts: [{ text: randomPrompt }] }],\n  generationConfig: { \n    temperature: 0.8,\n    maxOutputTokens: 2000,\n    topP: 0.95,\n    topK: 50\n  }\n};\n\n// CALL GEMINI API\ntry {\n  const response = await $fetch(url, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify(body)\n  });\n  \n  // PARSE RESPONSE\n  let aiResult = {};\n  const aiText = response.candidates[0].content.parts[0].text;\n  const cleanJson = aiText.replace(/```json/g, '').replace(/```/g, '').trim();\n  aiResult = JSON.parse(cleanJson);\n  \n  // FORMAT UNTUK SPREADSHEET - 100% BAHASA INDONESIA\n  return [{\n    json: {\n      timestamp: new Date().toISOString(),\n      total_responden: data.total,\n      ringkasan_eksekutif: aiResult.ringkasan_eksekutif || aiResult.ringkasan_evaluasi || aiResult.ringkasan_operasional || aiResult.ringkasan_dampak || `Analisis ${data.total} responden menunjukkan hasil yang menggembirakan`,\n      sentimen_utama: aiResult.sentimen_utama || aiResult.tingkat_kepuasan || aiResult.evaluasi_kinerja || aiResult.pencapaian_utama || 'Positif dengan Catatan Membangun',\n      tema_positif: Array.isArray(aiResult.tema_positif) ? aiResult.tema_positif.join(' | ') : \n                   Array.isArray(aiResult.aspek_terbaik) ? aiResult.aspek_terbaik.join(' | ') :\n                   Array.isArray(aiResult.keberhasilan_operasional) ? aiResult.keberhasilan_operasional.join(' | ') :\n                   Array.isArray(aiResult.nilai_tercipta) ? aiResult.nilai_tercipta.join(' | ') : \n                   'Acara sangat menghibur | Panitia sangat responsif | Kegiatan sangat engaging',\n      tema_kritik: Array.isArray(aiResult.tema_perbaikan) ? aiResult.tema_perbaikan.join(' | ') :\n                   Array.isArray(aiResult.aspek_perlu_ditingkatkan) ? aiResult.aspek_perlu_ditingkatkan.join(' | ') :\n                   Array.isArray(aiResult.tantangan_operasional) ? aiResult.tantangan_operasional.join(' | ') :\n                   Array.isArray(aiResult.peluang_pengembangan) ? aiResult.peluang_pengembangan.join(' | ') :\n                   'Perbaikan manajemen waktu | Peningkatan fasilitas | Optimasi koordinasi',\n      tema_saran: Array.isArray(aiResult.rekomendasi_strategis) ? aiResult.rekomendasi_strategis.join(' | ') :\n                  Array.isArray(aiResult.saran_perbaikan) ? aiResult.saran_perbaikan.join(' | ') :\n                  Array.isArray(aiResult.rekomendasi_operasional) ? aiResult.rekomendasi_operasional.join(' | ') :\n                  Array.isArray(aiResult.rekomendasi_keberlanjutan) ? aiResult.rekomendasi_keberlanjutan.join(' | ') :\n                  'Peningkatan interaktivitas | Penambahan durasi acara | Variasi kegiatan lebih banyak',\n      rekomendasi_jangka_pendek: 'Evaluasi menyeluruh acara | Perbaikan fasilitas pendukung | Pelatihan tambahan panitia'\n    }\n  }];\n  \n} catch (error) {\n  // FALLBACK DALAM BAHASA INDONESIA\n  const fallbackTemplates = [\n    {\n      summary: `Berdasarkan ${data.total} responden, acara Makrab FT 2024 berjalan sukses dengan apresiasi tinggi dari peserta`,\n      positif: 'Suasana sangat menyenangkan | Panitia sangat membantu | Kegiatan sangat seru dan engaging',\n      kritik: 'Waktu pelaksanaan perlu dioptimalkan | Fasilitas bisa ditingkatkan | Koordinasi antar sesi perlu diperbaiki',\n      saran: 'Durasi acara ditambah | Lebih banyak games interaktif | Sound system diperbaiki'\n    },\n    {\n      summary: `Analisis ${data.total} partisipan menunjukkan tingkat kepuasan yang tinggi dengan beberapa masukan berharga`,\n      positif: 'Konsep acara kreatif | Engagement peserta luar biasa | Hospitality panitia memuaskan',\n      kritik: 'Manajemen waktu kurang optimal | Kapasitas venue terbatas | Komunikasi bisa lebih baik', \n      saran: 'Planning lebih matang | Persiapan lebih awal | Koordinasi tim ditingkatkan'\n    },\n    {\n      summary: `Data dari ${data.total} peserta mengungkap keberhasilan acara dengan ruang untuk inovasi`,\n      positif: 'Entertainment berkualitas tinggi | Partisipasi aktif peserta | Organisasi acara terstruktur',\n      kritik: 'Logistik perlu diperbaiki | Jadwal terlalu padat | MC bisa lebih energik',\n      saran: 'Inovasi jenis kegiatan | Peningkatan kualitas produksi | Evaluasi menyeluruh timeline'\n    },\n    {\n      summary: `Feedback ${data.total} responden mencerminkan kesuksesan acara dengan peluang peningkatan`,\n      positif: 'Acara sangat memorable | Peserta sangat antusias | Nilai kebersamaan terbangun',\n      kritik: 'Sound system kurang optimal | Lighting bisa lebih baik | Durasi beberapa sesi kurang pas',\n      saran: 'Teknologi pendukung ditingkatkan | Variasi aktivitas ditambah | Engagement lebih dalam'\n    }\n  ];\n  \n  const randomFallback = fallbackTemplates[Math.floor(Math.random() * fallbackTemplates.length)];\n  \n  return [{\n    json: {\n      timestamp: new Date().toISOString(),\n      total_responden: data.total,\n      ringkasan_eksekutif: randomFallback.summary,\n      sentimen_utama: 'Positif dengan Masukan Membangun',\n      tema_positif: randomFallback.positif,\n      tema_kritik: randomFallback.kritik,\n      tema_saran: randomFallback.saran,\n      rekomendasi_jangka_pendek: 'Rapat evaluasi panitia | Perbaikan teknis | Persiapan lebih matang tahun depan'\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        64
      ],
      "id": "ab7f2c6f-7f1e-4c4d-99c8-16f7a1b4a653",
      "name": "AI Analysis Complete"
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Baca Data Survey",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baca Data Survey": {
      "main": [
        [
          {
            "node": "Kumpulkan Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kumpulkan Data": {
      "main": [
        [
          {
            "node": "AI Analysis Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analysis Complete": {
      "main": [
        [
          {
            "node": "Simpan ke Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simpan ke Spreadsheet": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eb6cb001-844a-463a-be41-39449c9a4f75",
  "meta": {
    "instanceId": "b5469c204f32f88bb4e62d3992901b20f2f35376081c7920318fc68a182ac201"
  },
  "id": "86DcOABKb6BNCCht",
  "tags": []
}